body {
  background-color: #C6D8D3;
  font-family: sans-serif;
}

.container {
  background-image: url('../images/bg.png');
  background-position: -10px;
  background-color: #68C5DB;
  width: 750px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  outline: 6px double #829191;
}

.content {
  height: inherit;
  width: inherit;
  position: relative;
}

.character {
  /* background-color: #FFBF69;
  border-radius: 100%; */
  width: 64px;
  height: 64px;
  position: absolute;
  left: 500px;
  top: 485px;
}

.characteridle {
  background-image: url('../images/traveler/idle.gif');
}

.characteridleflip {
  background-image: url('../images/traveler/idle.gif');
  transform: scaleX(-1);
}

.characterwalk {
  background-image: url('../images/traveler/walk.gif');
}

.characterwalkflip {
  background-image: url('../images/traveler/walk.gif');
  transform: scaleX(-1);
}

.characterjump {
  background-image: url('../images/traveler/jump.gif');
}

.platform {
background-image: url('../images/tiles.png');
  border-radius: 6%;
  /* background-color: #9BC53D; */
  width: 150px;
  height: 19px;
  position: absolute;
}

#platform1 {
  left: 380px;
  top: 480px;
}

#platform2 {
  left: 200px;
  top: 380px;
}

#platform3 {
  left: 300px;
  top: 280px;
}

#platform4 {
  left: 220px;
  top: 180px;
}

#platform5 {
  left: 330px;
  top: 80px;
}


#platform6 {
  left: 200px;
  top: 480px;
}

#platform7 {
  left: 300px;
  top: 380px;
}

#platform8 {
  left: 180px;
  top: 280px;
}

#platform9 {
  left: 220px;
  top: 180px;
}

#platform10 {
  left: 330px;
  top: 80px;
}

.timer {
  position: relative;
  bottom: -10px;
  padding-left: 84%;
  color: white;
}

.winningAlert {
  width: 300px;
  height: 300px;
  background-color: #C6D8D3;
  display: none;
  margin: auto;
  margin-left: 10%;
  position: fixed;
  z-index: 100px;
}

.timeAlert {
  width: 300px;
  height: 300px;
  background-color: pink;
  display: none;
  margin: auto;
  margin-left: 10%;
  position: fixed;
  z-index: 100px;
}

button{
  width: 26%;
}

.logo{
  position: absolute;
  top: 10px;
  left: auto;
  padding-left: 8%;
}

/* .btns {
  width: 300px;
  height: 300px;
  background-color: pink;
  margin: auto;
  margin-left: 10%;
  position: fixed;
  z-index: 100px;
} */
